* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 1rem;
  margin-top: 60px;
}

.wrapper:hover {
  transform: scale(1.02);
}

.sliderWrapper {
  overflow: auto;
}

.swiper-prev,
.swiper-next {
  position: absolute;
  top: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #97bf0f;
}

.swiper-prev {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  width: 3rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 10px;
  left: calc(-12px);
}

.swiper-next {
  right: calc(-30px - 1.5em);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  width: 3rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .slide-container {
  background-color: #807d7d;
  border-radius: 50%;
  width: fit-content;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
} */

.slide-socials {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.logo-small {
  width: 50px;
  height: 50px;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* #slider,
#slider > div,
.swiper-slide {
  height: 100%;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

